@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Odengatan 99<br />
    115 00 STOCKHOLM<br />
    <abbr title="Phone">Phone:</abbr>
    +46 8 999 9999
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@falcongarage.com">Support@falcongarage.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@falcongarage.com">Marketing@falcongarage.com</a>
</address>