@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FALCON GARAGE</h1>
    <p class="lead">FALCON GARAGE är Sveriges ledande garage för parkering av fordon.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Så här används Falcon Garage Manager</h2>
        <p>Falcon Garage Manager är självförklarande genom navigering i programmets vyer.</p>

    </div>
    <div class="col-md-4">
        <h2>Vad ska förare av fordon göra?</h2>
        <p>FALCON GARAGE är helt automatiserat för kunderna. Kunden kör in i garage och parkerar.</p>
        <p>När kunden ska lämna garaget och checka-ut så kör föraren bara ut ur. Vill kunden ha ett kvitto, kan föraren trycka på en knapp KVITTO vid check-ut. Debitering sker automatiserat genom att faktura skickas till ägaren av registrerat fordon.</p>
    </div>
    <div class="col-md-4">
        <h2>Ge feedback</h2>
        <p>Ge gärna feedback på hur FALCON GARAGE fungerar.</p>
        <strong>Information:</strong> <a href="mailto:info@falcongarage.com">info@falcongarage.com</a>
    </div>
</div>